<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/index.js"></script>
  <title>CRUD</title>
</head>
<body>
  <h1 class="titulo">READ</h1>
  <h2 class="titulo">Buscar por...</h2>
  <button id="back">Volver Atrás</button>
  <br>
  <div class="opciones">
    <a href="Organizacion/index.html"><button>Organización</button></a>
    <a href="Personal/index.html"><button>Personal</button></a>
    <a href="Productos/index.html"><button>Productos</button></a>
    <a href="Mensajes/index.html"><button>Mensajes</button></a>
  </div>
</body>
</html>