<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css">
    <script src="js/crearUno.js"></script>
    <title>CRUD</title>
  </head>

  <body>
    <h1 class="titulo">CREAR NUEVO</h1>
    <button class="opciones" id="back">Volver Atrás</button>


    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Correo</th>
          <th>Remitente</th>
          <th>Teléfono</th>
          <th>Asunto</th>
          <th>Mensaje</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <!-- Las filas con los datos de la BD irán aquí -->
        <form id="formulario">
          <td></td>
          <td><input type="email" id="n_correo" name="correo" required></td>
          <td><input type="text" id="n_remitente" name="remitente" required></td>
          <td><input type="tel" id="n_telefono" name="telefono" required></td>
          <td><input type="text" id="n_asunto" name="asunto" required></td>
          <td><input type="text" id="n_mensaje" name="mensaje" required></td>
          <td><input type="submit" value="Guardar" id="guardar"></td>
      </form>
      </tbody>
    </table>
  </body>
</html>