<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
  <script src="js/index.js"></script>
  <title>CRUD</title>
</head>
<body>
  <h1 class="titulo">READ</h1>
  <h2 class="titulo">Personal</h2>
  <button id="back">Volver Atrás</button>
  <br>
  <div class="opciones">
    <a href="listarTodo.html"><button>Listar Todo</button></a>
    <a href="buscarId.html"><button>Buscar por ID</button></a>
  </div>
</body>
</html>