<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/style.css">
    <script src="js/actualizarUno.js"></script>
    <title>CRUD</title>
  </head>

  <body>
    <h1 class="titulo">ACTUALIZAR DATOS</h1>
    <button class="opciones" id="back">Volver Atrás</button>


    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Foto</th>
          <th>Descripción</th>
          <th>Misión</th>
          <th>Visión</th>
          <th>Valores</th>
        </tr>
      </thead>
      <tbody id="tableBody">
        <!-- Las filas con los datos de la BD irán aquí -->
      </tbody>
    </table>
  </body>
</html>